tp1_todolist/.idea
tp1_todolist/composer.lock
tp1_todolist/vendor
.idea

tp2_framework/.idea
tp2_framework/composer.lock
tp2_framework/vendor

tp2_game/.idea
tp2_game/composer.lock
tp2_game/vendor
tp2_game/db.sqlite
tp2_game/var